.recipeContainer {
  display: flex;
  padding: 0;
}

.recipeList {
  width: 30%;
  display: flex;
  flex-flow: column nowrap;
}

.login-btn {
  margin: 20px 20px 0 0;
}

.add-btn {
  margin-left: 20px;
}

.recipeImg img {
  max-width: 300px;
}