.recipeContainer {
  display: flex;
  padding: 0;
}

.recipeList {
  width: 30%;
  display: flex;
  flex-flow: column nowrap;
  border-right: 1px solid #d3d3d3;
  padding-right: 20px;
}

.login-btn {
  margin: 20px 20px 0 0;
}

.margin-left {
  margin-left: 20px;
}

.recipeImg img {
  max-width: 300px;
}

.recipeDetail {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 70%;
}

.recipe-wrapper {
  cursor: pointer;
}