.container
  .page-header 
    h1 Sign Up  
  .row
    .col-md-6.col-md-offset-3
      .errors.alert.alert-danger(role="alert" ng-repeat='error in errors')
        p.text-danger {{ error }}
      form.form-group(name="signupForm" ng-submit="signup(credentials)" novalidate)
        label(for='username')
          i(class='glyphicon glyphicon-user')
          strong   User
        input.form-control(type='text' name='username' id='username' ng-model="credentials.username")
        label(for='email')
          i(class='glyphicon glyphicon-envelope')
          strong   Email
        input.form-control(type='email' name='email' id='email' ng-model="credentials.email")
        label(for='password')
          i(class="fa fa-unlock-alt")
          strong   Password
        input.form-control(type='password' name='password' id='password' ng-model="credentials.password")
        button(type='submit' class='btn btn-success') Sign Up